/* style sheet for website dealing with mass specs */
body {
width:1750px;
margin:0 auto;
margin-top:30px;
}

#header {
margin-left: auto;
margin-right: auto;
width:750px;
height:50px;
background-color:#333333;
font-size: 45px;
color: #fff;
}

#extraSpace{
height: 25px;
}


#bar-example{
margin: 10px;
width: 94%; 
height: 500px;
}

#myGrid{
width: 200px;
height: 550;
}